aiohappyeyeballs
aiohttp
aiosignal
attrs
boto3>=1.28.0
certifi
cffi
charset-normalizer
colorama
comtypes
contourpy
cycler
einops
edge-tts>=6.1.3
filelock
fonttools
frozenlist
fsspec
idna
inflect
Jinja2
joblib
keyboard
kiwisolver
librosa
llvmlite
MarkupSafe
matplotlib
more-itertools
mpmath
multidict
networkx
noisereduce
numba
numpy
openai-whisper>=20230918
packaging
pillow
progressbar
propcache
pycparser
pygame>=2.5.0
pyparsing
pypiwin32
pyspellchecker
python-dateutil
python-osc>=1.8.1
pywin32
regex
requests
rotary-embedding-torch
scipy
six
sounddevice>=0.4.6
spacy>=3.6.0
sympy
tiktoken
tkinter>=8.6
tokenizers==0.13.3
torch
torchaudio
torchvision
tqdm
typing_extensions
unidecode
urllib3
webrtcvad>=2.0.10
yarl

